<head>
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    type="text/css">
    
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">Model</div>
        <a href="/" class="item">
          Home
        </a>
        <div class="right menu">
          <%if(!currentuser){%>
          <a href="/login" class="item">
          Signin</a>
          <a href="/register" class="item">
            Register
          </a>
       <% } else{%>
       <a href="#" class ="item">Welcome <%=currentuser %> </a>
        <a href="/logout" class="item">
          Logout</a>
       <% }%>
        </div>
        
              
            </div>
          </div>
        </div>
        </div>
    </div>
    <br><br><br>
</body>