<%- include('partials/header') %>
<form class="ui form " action="/booking" method="POST">
        
    <label>Train Name</label>
    <input type="text" name="fname" placeholder="train" required ><br><br>

    <label>Date</label>
    <input type="date" name="date"  required><br><br>

    <label>From</label>
    <input type="text" name="from"  required><br><br>

    <label>To</label>
    <input type="text" name="to"  required><br><br>

    <label>No of passengers</label>
    <input type="number" name="num_ppl"  required><br><br>


<input class="ui violet big basic button" type="submit" value="Book">
</div>

</form>