<form  action="/booking" method="POST">
        
    <label>Fname</label>
<input type="text" name="fname" placeholder="fname" required ><br><br>

    <label>Lname</label>
    <input type="text" name="lname" placeholder="lname" required><br><br>


<input class="ui violet big basic button" type="submit" value="book">
</div>

</form>