<%- include('partials/header') %>
<head>
<style>
    .centered {
        position: absolute;
        top: 20%;
        left: 25%;
        transform: translate(-50%, -50%);
       
        
      }
</style>
</head>
<body>

    <div>
        <img name="book" style="width:100%; height:100%;opacity:0.75;" src="/trains.png">
        <h1 class="centered">Train Reservation Portal</h1>
        </div>
</body>