<%- include('partials/header') %>
<head>
  <style>
    .centered {
      position: absolute;
      top: 20%;
      left: 25%;
      transform: translate(-50%, -50%);
    }
  </style>
</head>
<body>
  <div>
    <div class="ui huge header">Model Site</div>
    <%- include('partials/contactus') %>
  </div>
</body>
