<form  action="/register" method="POST">
        
    <label>Fname</label>
<input type="text" name="name" placeholder="name" required ><br><br>

    <label>Sname</label>
    <input type="text" name="sname" placeholder="lname" required><br><br>
    
<label>Email</label>
<input type="email" name="email_id" placeholder="Email" required><br><br>
   
<label>Username</label>
<input type="text" name="username" placeholder="username" required ><br><br>

    <label>Password</label>
    <input type="password" name="password" placeholder="password" required><br><br>


<input class="ui violet big basic button" type="submit" value="register">
</div>

</form>